<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.ubi.di.pmd.titcherspet">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.example.dokas.perm-provider"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Login"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AreaPrincipal"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Definicoes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InfoTurma"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InfoAluno"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AlunoFormulario"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Formulario"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Registar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NovoAluno"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Sumario"
            android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize|stateAlwaysHidden"/>

        <activity android:name=".HistoricoSumarios" />

        <provider
            android:name=".Provedor"
            android:authorities="${applicationId}.provedor"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

</manifest>